BOT_TOKEN=
ALLOWED_TELEGRAM_ID=
PUBLIC_BASE_URL=https://YOUR-SERVICE.up.railway.app

LANDING_URL=https://landing.brazzersnetwork.com/?ats=eyJhIjoyODc2NDUsImMiOjU2NTA2NDU4LCJuIjoxNCwicyI6OTAsImUiOjg4MDMsInAiOjMzOX0%3D&atc=Autocampaign_Default&apb=23e52e0c40074a70%7Cbrazzers

# Choose your own random VNC password (recommended).
# It is only for opening the temporary browser desktop.
VNC_PASSWORD=

SESSION_TTL_MINUTES=10
